@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

#shoot {
    max-width: 1920px;
    margin: 0 auto;
    background-color: #fff;
}

.btn {
    border-radius: 8px;
    text-align: right;
    font-family: $primary-font;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
    transition: all 0.3s ease-in;
    &:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
}

@keyframes scale3dImg {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
    5% {
        -webkit-transform: scale3d(0.91, 0.84, 0.85);
        transform: scale3d(0.91, 0.84, 0.85)
    }
    10% {
        -webkit-transform: scale3d(0.93, 0.86, 0.84);
        transform: scale3d(0.93, 0.86, 0.84)
    }
    26% {
        -webkit-transform: scale3d(0.94, 0.97, 0.98);
        transform: scale3d(0.94, 0.97, 0.98)
    }
    80% {
        -webkit-transform: scale3d(0.97, 0.99, 0.91);
        transform: scale3d(0.97, 0.99, 0.91)
    }
    100% {
        -webkit-transform: scale3d(0.99, 0.91, 0.99);
        transform: scale3d(0.99, 0.91, 0.99)
    }
}

.animated {
    opacity: 0;
    transition: all 0.8s ease-in-out;
    -webkit-transition: all 0.8s ease-in-out;
}
.fade-in-up {
    transform: translateY(20px);
}
.fade-in-up.run-animated {
    opacity: 1;
    transform: translateY(0);
}
.zoom-in {
    transform: scale(0.7);
}
.zoom-in.run-animated {
    opacity: 1;
    transform: scale(1);
}
.animated-flash {
    opacity: 0.5;
    transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}
.animated-flash.run-animated {
    opacity: 1;
}
.animated-delay1 {
    transition: all 0.3s ease-in-out 0.3s;
    -webkit-transition: all 0.3s ease-in-out 0.3s;
}
.animated-delay2 {
    transition: all 0.4s ease-in-out 0.4s;
    -webkit-transition: all 0.4s ease-in-out 0.4s;
}
.animated-delay3 {
    transition: all 0.6s ease-in-out 0.6s;
    -webkit-transition: all 0.6s ease-in-out 0.6s;
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 3;
    display: none;
    transition: all 0.3s ease-in;
    &.active {
        display: block;
    }
}