.header {
    margin-bottom: 48px;
    &-container {
        padding: 16px 113px 16px 120px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-left {
        display: flex;
        align-items: center;
        gap: 0 125px;
    }
    &-right {
        display: flex;
        align-items: center;
        gap: 0 125px;
        .header-buttons {
            display: flex;
            gap: 0 16px;
            .btn-login {
                padding: 16px 41px;
                color: $primary-color;
                border: 1.5px solid #DBE1E9;
                background: #FFF;
            }
            .btn-sign-up {
                padding: 16px 51.5px;
                color: #FFF;
                background: $primary-color;
            }
        }
        .header-languages {
            display: flex;
            align-items: center;
            gap: 0 4px;
            span {
                color: #12141D;
                font-family: $primar-font;
                font-size: 16px;
                font-weight: 400;
                line-height: 30px;
            }
        }
    }
    .menu-open {
        display: none;
    }
}

.menu {
    display: flex;
    align-items: center;
    gap: 0 45px;
    li {
        a {
            color: $menu-text;
            font-family: $primar-font;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: -0.5px;
            text-decoration: none;
            &.active {
                color: $primary-color;
            }
        }
    }
    &-logo {
        display: none;
    }
    &-close {
        display: none;
    }
}

@media (max-width: 768px) {
    .header {
        margin-bottom: 3.906vw;
        &-container {
            padding: 2.604vw;
            gap: 0 5.208vw;
        }
        &-left {
            gap: 0 16.276vw;
            .header-logo {
                max-width: 23vw;
            }
        }
        &-right {
            gap: 0 2.604vw;
            .header-buttons {
                gap: 0 3.906vw;
                .btn-login {
                    padding: 1.302vw 3.906vw;
                    font-size: 3.333vw;
                }
                .btn-sign-up {
                    padding: 1.302vw 3.906vw;
                    font-size: 3.333vw;
                }
            }
            .header-languages {
                display: none;
                gap: 0 0.521vw;
                span {
                    font-size: 2.083vw;
                    line-height: 3.906vw;
                }
            }
        }
        .menu-open {
            display: block;
            img {
                width: 6.667vw;
            }
        }
    }
    .menu {
        padding-top: 20vw;
        position: fixed;
        width: 70vw;
        background-color: #fff;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        display: flex;
        flex-direction: column;
        gap: 1.302vw 0;
        transform: translateX(100%);
        opacity: 0;
        transition: transform 0.5s ease, opacity 0.5s ease;
        &.show {
            transform: translateX(0);
            opacity: 1;
        }
        li {
            width: 100%;
            a {
                text-align: left;
                display: block;
                padding: 1.302vw 1.563vw;
                margin: 0 1.302vw;
                font-size: 3.333vw;
                border-bottom: 0.13vw solid #dbe1e9;
                transition: all 0.3s ease-in;
                &.active {
                    color: $primary-color;
                }
            }
        }
        &-logo {
            margin-bottom: 5.208vw;
            display: block;
        }
        &-close {
            display: block;
            position: absolute;
            max-height: 6.51vw;
            top: 2.604vw;
            right: 2.604vw;
            padding: 1.302vw;
            border-radius: 50%;
            background-color: #fafafa;
            &:hover {
                transform: translateY(-4px);
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            }
            img {
                width: 6.667vw;
            }
            
        }
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    
}

@media (min-width: 1025px) and (max-width: 1919px) {
    
}