.header {
    margin-bottom: 48px;
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9;
    background: #FFF;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.03);
    &-container {
        padding: 16px 113px 16px 120px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-left {
        display: flex;
        align-items: center;
        gap: 0 125px;
    }
    &-right {
        margin-right: 8px;
        display: flex;
        align-items: center;
        gap: 0 125px;
        .header-buttons {
            display: flex;
            gap: 0 16px;
            .btn-login {
                padding: 16px 41px;
                color: $primary-color;
                border: 1.5px solid #DBE1E9;
                background: #FFF;
                &:hover {
                    transform: translateY(-4px);
                }
            }
            .btn-sign-up {
                padding: 16px 51.5px;
                color: #FFF;
                background: $primary-color;
                &:hover {
                    transform: translateY(-4px);
                }
            }
        }
        .header-languages {
            display: flex;
            align-items: center;
            gap: 0 4px;
            select {
                padding-right: 20px;
                outline: none;
                border: none;
                color: #12141D;
                font-family: $primary-font;
                font-size: 16px;
                font-weight: 400;
                line-height: 30px;
                appearance: none;
                background: url("../../assets/images/home/arrow_down.svg") no-repeat;
                background-position: calc(100% + 4px) center;
                cursor: pointer;
                option {
                    color: #12141D;
                    font-family: $primary-font;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 30px; 
                }
            }
        }
    }
    .menu-open {
        display: none;
    }
}

.navbar {
    .menu {
        display: flex;
        align-items: center;
        gap: 0 45px;
        li {
            a {
                color: $menu-text;
                font-family: $primary-font;
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
                letter-spacing: -0.5px;
                text-decoration: none;
                &.active {
                    color: $primary-color;
                }
            }
        }
    }
    &-close {
        display: none;
    }
    &-languages {
        display: none;
    }
}

@media (max-width: 768px) {
    .header {
        margin-bottom: 3.906vw;
        &-container {
            padding: 2.604vw;
            gap: 0 5.208vw;
        }
        &-left {
            gap: 0 16.276vw;
            .header-logo {
                max-width: 23vw;
            }
        }
        &-right {
            margin-right: 0;
            gap: 0 2.604vw;
            .header-buttons {
                gap: 0 2.051vw;
                .btn-login {
                    padding: 1.538vw 4.103vw;
                    font-size: 3.59vw;
                    line-height: 1.5;
                }
                .btn-sign-up {
                    padding: 1.538vw 4.103vw;
                    font-size: 3.59vw;
                    line-height: 1.5;
                }
            }
            .header-languages {
                display: none;
            }
        }
        .menu-open {
            display: block;
            img {
                width: 6.667vw;
            }
        }
    }
    .navbar {
        padding-top: 24vw;
        position: fixed;
        width: 70vw;
        background-color: #fff;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        transform: translateX(100%);
        opacity: 0;
        transition: transform 0.5s ease, opacity 0.5s ease;
        &.show {
            transform: translateX(0);
            opacity: 1;
        }
        .menu {
            display: flex;
            flex-direction: column;
            gap: 1.302vw 0;
            li {
                width: 100%;
                a {
                    text-align: left;
                    display: block;
                    padding: 2.564vw;
                    margin: 0 1.302vw;
                    font-size: 4.103vw;
                    border-bottom: 0.13vw solid #dbe1e9;
                    transition: all 0.3s ease-in;
                    &.active {
                        color: $primary-color;
                    }
                }
            }
        }
        
        &-close {
            display: block;
            position: absolute;
            max-height: 6.51vw;
            top: 2.604vw;
            right: 2.604vw;
            padding: 1.302vw;
            border-radius: 50%;
            background-color: #fafafa;
            &:hover {
                transform: translateY(-4px);
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            }
            img {
                width: 6.667vw;
            }
            
        }
        &-languages {
            display: flex;
            align-items: center;
            gap: 0 1.026vw;
            position: absolute;
            left: 5.128vw;
            top: 5.128vw;
            img {
                width: 6.154vw;
            }
            select {
                padding-right: 5.128vw;
                outline: none;
                border: none;
                color: #12141D;
                font-family: $primary-font;
                font-size: 4.103vw;
                font-weight: 400;
                line-height: 7.692vw;
                appearance: none;
                background: url("../../assets/images/home/arrow_down.svg") no-repeat;
                background-position: calc(100% + 1.026vw) center;
                background-size: 6.154vw;;
                option {
                    font-size: 4.103vw;
                }
            }
        }
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .header {
        margin-bottom: 30px;
        &-container {
            padding: 30px;
        }
        &-left {
            gap: 0 40px;
        }
        &-right {
            gap: 0 40px;
            .header-buttons {
                gap: 0 16px;
                .btn-login {
                    padding: 12px 36px;
                }
                .btn-sign-up {
                    padding: 12px 36px;
                }
            }
        }
        .menu-open {
            display: block;
            img {
                max-width: 40px;
            }
        }
    }   
    .navbar {
        padding-top: 100px;
        position: fixed;
        width: 400px;
        background-color: #fff;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        transform: translateX(100%);
        opacity: 0;
        transition: transform 0.5s ease, opacity 0.5s ease;
        &.show {
            transform: translateX(0);
            opacity: 1;
        }
        .menu {
            display: flex;
            flex-direction: column;
            gap: 10px 0;
            li {
                width: 100%;
                a {
                    display: block;
                    padding: 10px 20px;
                    color: $menu-text;
                    font-family: $primary-font;
                    border-bottom: 0.13vw solid #dbe1e9;
                    transition: all 0.3s ease-in;
                    &.active {
                        color: $primary-color;
                    }
                }
            }
        }   
        &-close {
            display: block;
            position: absolute;
            max-height: 30px;
            top: 30px;
            right: 30px;
            border-radius: 50%;
            &:hover {
                transform: translateY(-4px);
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            }
            img {
                width: 40px;
            }
            
        }
    }
}

@media (min-width: 1024px) and (max-width: 1919px) {
    .header {
        margin-bottom: 30px;
        &-container {
            padding: 30px;
        }
        &-left {
            gap: 0 40px;
        }
        &-right {
            gap: 0 40px;
            .header-buttons {
                gap: 0 16px;
                .btn-login {
                    padding: 12px 36px;
                }
                .btn-sign-up {
                    padding: 12px 36px;
                }
            }
        }
        .menu-open {
            display: none;
        }
    }
    
    .menu {
        display: flex;
        align-items: center;
        gap: 0 45px;
        li {
            a {
                color: $menu-text;
                font-family: $primary-font;
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
                letter-spacing: -0.5px;
                text-decoration: none;
                &.active {
                    color: $primary-color;
                }
            }
        }
        &-logo {
            display: none;
        }
        &-close {
            display: none;
        }
    }  
}