.hero {
    margin-bottom: 32px;
    &-container {
        padding-left: 120px;
        padding-right: 118px;
        img {
            max-width: 1682px;
        }
    }
}
.link {
    max-width: 622px;
    margin-left: 652px;
    margin-right: 646px;
    margin-bottom: 47px;
    &-container {
        p:first-child {
            margin-bottom: 36px;
            color: #202020;
            text-align: center;
            font-family: $primary-font;
            font-size: 36px;
            font-weight: 500;
            line-height: 50.4px;
            span {
                color: #4BB7BB;
                font-weight: 700;
            }
        }
        p:nth-child(2) {
            margin-bottom: 36px;
            color: #202020;
            text-align: center;
            font-family: $primary-font;
            font-size: 18px;
            font-weight: 500;
            line-height: 26px;
        }
    }
    &-confirm {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0 16px;
        input {
            flex: 1;
            padding: 14px 12px 14px 12px;
            color: #84818A;
            font-feature-settings: 'liga' off, 'clig' off;
            font-family: $primary-font;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            border-radius: 4px;
            border: 1px solid  #DBE1E9;
            background:  #FFF;
        }
        .btn-confirm {
            padding: 12px 13.5px;
            color: #FFF;
            text-align: right;
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            border-radius: 8px;
            background: #4BB7BB;
            cursor: pointer;
            border: none;
            outline: none;
            &.trans-animated {
                animation-name: scale3dImg;
                -webkit-animation-duration: 1.5s;
                animation-duration: 1.5s;
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
                animation-iteration-count: infinite;
            }
        }
    }
}
.instruct {
    margin-bottom: 96px;
    position: relative;
    z-index: 2;
    background: linear-gradient(180deg, #C8F0F2 -181.74%, #FFF 100%);
    &-container {
        max-width: 1170px;
        margin-left: 376px;
        margin-right: 374px;
    }
    &-top {
        padding-top: 30px;
        margin-bottom: 36px;
        text-align: center;
        p:first-child {
            margin: 0 0 16px 0;
            color: #202020;
            font-family: $primary-font;
            font-size: 36px;
            font-weight: 500;
            line-height: 50.4px;
        }
        p:nth-child(2){
            margin: 0;
            color: #FC0000;
            font-family: $primary-font;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 26px;
            span {
                font-weight: 700;
            }
        }
    }
    &-forum {
        text-align: center;
        p {
            padding: 11px 16px;
            color: #202020;
            font-family: $primary-font;
            font-size: 16px;
            font-weight: 500;
            line-height: 26px;
            text-align: left;
            border-radius: 4px;
            background: linear-gradient(90deg, rgba(47, 180, 185, 0.5) -181.74%, rgba(255, 244, 219, 0.5) 100%);
            span {
                color: #F97615;
                text-align: center;
                font-size: 16px;
                font-weight: 700;
                line-height: 26px;
            }
        }
        p:first-child {
            margin-bottom: 24px;
            padding-top: 9px;
            padding-bottom: 10px;
            padding-left: 21px;
            span:first-child {
                color: #F97615;
            }
            span:nth-child(2){
                color: #4BB7BB;
            }
            span:nth-child(3) {
                color: #FC0000;
            }
        }
        p:nth-of-type(2){
            margin-bottom: 12px;
            span:last-child {
                color: #202020;
                font-weight: 700;
            }
        }
        p:nth-of-type(3) {
            margin-bottom: 16px;
            padding: 0;
            color: #FC0000;
            font-size: 14px;
            line-height: 22px;
            background: none;
            span {
                color: #FC0000;
                font-weight: 700;
            }
        }
        p:nth-of-type(4){
            margin-bottom: 48px;
            padding: 11px 42px 11px 16px;
            a {
                margin-left: 42px;
                display: inline-block;
                padding: 12px 57.5px;
                color: #4BB7BB;
                text-align: right;
                font-size: 16px;
                font-weight: 600;
                line-height: 24px;
                border-radius: 8px;
                border: 1.5px solid #4BB7BB;
                background: #FFF;
            }
        }
        p:nth-of-type(5){
            padding-top: 9px;
            padding-bottom: 10px;
            padding-left: 16px;
            margin-bottom: 29px;
        }
        p:last-of-type {
            border: 1px solid #F97615;
            background: #FFF3EB;
        }
        img:nth-of-type(1) {
            margin-bottom: 38px;
        }
        img:nth-of-type(2) {
            margin-bottom: 34px;
        }
        .instruct-confirm.link-confirm {
            max-width: 622px;
            margin: 0 auto;
            margin-bottom: 70px;
            display: flex;
            justify-content: center;
            cursor: pointer;
        }
        .btn-change-keyword {
            display: inline-block;
            margin-top: 32px;
            padding: 12px 59.5px;
            color: #FFF;
            text-align: center;
            font-family: $primary-font;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px;
            border-radius: 8px;
            background: #F97615;
            cursor: pointer;
            &.trans-animated {
                animation-name: scale3dImg;
                -webkit-animation-duration: 1.5s;
                animation-duration: 1.5s;
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
                animation-iteration-count: infinite;
            }
        }
    }
    &-bg-blur {
        img:first-child {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
        }
        img:nth-child(2) {
            position: absolute;
            right: 0;
            top: -20%;
            z-index: 1;
        }
    }
}
.video {
    padding-bottom: 96px;
    background: linear-gradient(0deg, #FFEBDB -22.23%, #FFF 99.55%);
    &-container {
        max-width: 1170px;
        margin: 0 auto;
        text-align: center;
    }
    &-box {
        border-radius: 10px;
        border: 1px solid #DBE1E9;
        background: #FFF;
        p {
            padding-top: 27px;
            margin-bottom: 26px;
            color: #202020;
            text-align: center;
            font-family: $primary-font;
            font-size: 36px;
            font-style: normal;
            font-weight: 500;
            line-height: 50.4px;
        }
        img {
            max-width: 1072px;
            padding-bottom: 32px;
        }
    }
    
}

@media (max-width: 768px) {
    .hero {
        margin-bottom: 2.604vw;
        &-container {
            padding: 0 2.604vw;
            img {
                max-width: 100%;
            }
        }
    }
    .link {
        max-width: 100%;
        margin: 0 auto 7.692vw auto;
        &-container {
            padding: 0 2.604vw;
            p:first-child {
                margin-bottom: 5.128vw;
                font-size: 5.128vw;
                line-height: 1.5;
                span {
                    color: #4BB7BB;
                }
            }
            p:nth-child(2) {
                margin-bottom: 4.103vw;
                font-size: 4.103vw;
                line-height: 1.5;
            }
        }
        &-confirm {
            gap: 4.103vw 0;
            flex-direction: column;
            input {
                width: 100%;
                padding: 2.564vw;
                font-size: 4.103vw;
                line-height: 1.5;
                border-radius: 0.521vw;
                border: 0.13vw solid  #DBE1E9;
            }
            .btn-confirm {
                padding: 3.846vw 7.692vw;
                font-size: 3.333vw;
                line-height: 3.125vw;
                border-radius: 1.042vw;
            }
        }
    }
    .instruct {
        margin-bottom: 2.604vw;
        &-container {
            max-width: 100%;
            padding: 0 2.604vw;
            margin: 0 auto;
        }
        &-top {
            padding-top: 2.604vw;
            margin-bottom: 5.128vw;
            p:first-child {
                margin: 0 0 2.083vw 0;
                font-size: 4.615vw;
                line-height: 1.5;
            }
            p:nth-child(2){
                font-size: 3.59vw;
                line-height: 1.5;
            }
        }
        &-forum {
            text-align: center;
            p {
                font-size: 3.59vw;
                line-height: 1.5;
                span {
                    font-size: 3.59vw;
                }
            }
            p:first-child {
                padding: 2.564vw;
                margin-bottom: 5.128vw;
                span:first-child {
                    color: #F97615;
                }
                span:nth-child(2){
                    color: #4BB7BB;
                }
                span:nth-child(3) {
                    color: #FC0000;
                }
            }
            p:nth-of-type(2){
                margin-bottom: 3.077vw;
                padding: 2.564vw;
                span:last-child {
                    color: #202020;
                    font-weight: 700;
                }
            }
            p:nth-of-type(3) {
                margin-bottom: 16px;
                padding: 0;
                color: #FC0000;
                font-size: 14px;
                line-height: 22px;
                background: none;
                span {
                    color: #FC0000;
                    font-weight: 700;
                }
            }
            p:nth-of-type(4){
                margin-bottom: 5.128vw;
                line-height: 1.5;
                a {
                    margin-left: 16px;
                    padding: 1.538vw 7.692vw;
                    font-size: 3.077vw; 
                }
            }
            p:nth-of-type(5){
                margin-bottom: 29px;
            }
            p:last-of-type {
                border: 1px solid #F97615;
                background: #FFF3EB;
            }
            img:nth-of-type(1) {
                margin-bottom: 5.128vw;
            }
            img:nth-of-type(2) {
                margin-bottom: 34px;
            }
            .instruct-confirm.link-confirm {
                width: 100%;
                margin-bottom: 5.128vw;
            }
            .btn-change-keyword {
                display: inline-block;
                margin-top: 5.128vw;
                width: 100%;
                font-size: 3.333vw;
                line-height: 1.5;
            }
        }
        &-bg-blur {
            img:first-child {
                max-width: 20.833vw;
            }
            img:nth-child(2) {
                max-width: 20.833vw;
            }
        }
    }
    .video {
        padding-bottom: 2.604vw;
        &-container {
            max-width: 100%;
            padding: 0 2.604vw;
            margin: 0 auto;
        }
        &-box {
            border-radius: 1.302vw;
            p {
                padding-top: 2.604vw;
                margin-bottom: 2.604vw;
                font-size: 4.103vw;
                line-height: 6.563vw;
            }
            img {
                max-width: 100%;
                padding-bottom: 2.604vw;
            }
        }
        
    }    
}
@media (min-width: 769px) and (max-width: 1024px) {
    .hero {
        margin-bottom: 32px;
        &-container {
            padding-left: 30px;
            padding-right: 30px;
            img {
                max-width: 100%;
            }
        }
    }
    .link {
        width: 100%;
        margin: 0 auto 40px auto;
        &-container {
            p:first-child {
                margin-bottom: 36px;
                color: #202020;
                text-align: center;
                font-family: $primary-font;
                font-size: 36px;
                font-weight: 500;
                line-height: 50.4px;
                span {
                    color: #4BB7BB;
                    font-weight: 700;
                }
            }
            p:nth-child(2) {
                margin-bottom: 36px;
                color: #202020;
                text-align: center;
                font-family: $primary-font;
                font-size: 18px;
                font-weight: 500;
                line-height: 26px;
            }
        }
        &-confirm {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 0 16px;
            input {
                flex: 1;
                padding: 14px 12px 14px 12px;
                color: #84818A;
                font-feature-settings: 'liga' off, 'clig' off;
                font-family: $primary-font;
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
                border-radius: 4px;
                border: 1px solid  #DBE1E9;
                background:  #FFF;
            }
            .btn-confirm {
                padding: 12px 13.5px;
                color: #FFF;
                text-align: right;
                font-size: 16px;
                font-weight: 600;
                line-height: 24px;
                border-radius: 8px;
                background: #4BB7BB;
                cursor: pointer;
                border: none;
                outline: none;
                &.trans-animated {
                    animation-name: scale3dImg;
                    -webkit-animation-duration: 1.5s;
                    animation-duration: 1.5s;
                    -webkit-animation-fill-mode: both;
                    animation-fill-mode: both;
                    animation-iteration-count: infinite;
                }
            }
        }
    }
    .instruct {
        margin-bottom: 96px;
        position: relative;
        z-index: 2;
        background: linear-gradient(180deg, #C8F0F2 -181.74%, #FFF 100%);
        &-container {
            max-width: 100%;
            padding: 0 30px;
            margin: 0 auto;
        }
        &-top {
            padding-top: 30px;
            margin-bottom: 36px;
            text-align: center;
            p:first-child {
                margin: 0 0 16px 0;
                color: #202020;
                font-family: $primary-font;
                font-size: 36px;
                font-weight: 500;
                line-height: 50.4px;
            }
            p:nth-child(2){
                margin: 0;
                color: #FC0000;
                font-family: $primary-font;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 26px;
                span {
                    font-weight: 700;
                }
            }
        }
        &-forum {
            text-align: center;
            p {
                padding: 11px 16px;
                color: #202020;
                font-family: $primary-font;
                font-size: 16px;
                font-weight: 500;
                line-height: 26px;
                text-align: left;
                border-radius: 4px;
                background: linear-gradient(90deg, rgba(47, 180, 185, 0.5) -181.74%, rgba(255, 244, 219, 0.5) 100%);
                span {
                    color: #F97615;
                    text-align: center;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 26px;
                }
            }
            p:first-child {
                margin-bottom: 24px;
                padding-top: 9px;
                padding-bottom: 10px;
                padding-left: 21px;
                span:first-child {
                    color: #F97615;
                }
                span:nth-child(2){
                    color: #4BB7BB;
                }
                span:nth-child(3) {
                    color: #FC0000;
                }
            }
            p:nth-of-type(2){
                margin-bottom: 12px;
                span:last-child {
                    color: #202020;
                    font-weight: 700;
                }
            }
            p:nth-of-type(3) {
                margin-bottom: 16px;
                padding: 0;
                color: #FC0000;
                font-size: 14px;
                line-height: 22px;
                background: none;
                span {
                    color: #FC0000;
                    font-weight: 700;
                }
            }
            p:nth-of-type(4){
                margin-bottom: 48px;
                padding: 11px 42px 11px 16px;
                a {
                    margin-left: 42px;
                    display: inline-block;
                    padding: 12px 57.5px;
                    color: #4BB7BB;
                    text-align: right;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 24px;
                    border-radius: 8px;
                    border: 1.5px solid #4BB7BB;
                    background: #FFF;
                }
            }
            p:nth-of-type(5){
                padding-top: 9px;
                padding-bottom: 10px;
                padding-left: 16px;
                margin-bottom: 29px;
            }
            p:last-of-type {
                border: 1px solid #F97615;
                background: #FFF3EB;
            }
            img:nth-of-type(1) {
                margin-bottom: 40px;
            }
            img:nth-of-type(2) {
                margin-bottom: 34px;
            }
            .instruct-confirm.link-confirm {
                max-width: 622px;
                margin: 0 auto;
                margin-bottom: 70px;
                display: flex;
                justify-content: center;
                cursor: pointer;
            }
            .btn-change-keyword {
                display: inline-block;
                margin-top: 32px;
                padding: 12px 59.5px;
                color: #FFF;
                text-align: center;
                font-family: $primary-font;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 24px;
                border-radius: 8px;
                background: #F97615;
                cursor: pointer;
            }
        }
        &-bg-blur {
            img:first-child {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                z-index: 1;
            }
            img:nth-child(2) {
                position: absolute;
                right: 0;
                top: -20%;
                z-index: 1;
            }
        }
    }
    .video {
        padding-bottom: 96px;
        background: linear-gradient(0deg, #FFEBDB -22.23%, #FFF 99.55%);
        &-container {
            max-width: 100%;
            padding: 0 30px;
            margin: 0 auto;
            text-align: center;
        }
        &-box {
            border-radius: 10px;
            border: 1px solid #DBE1E9;
            background: #FFF;
            p {
                padding-top: 27px;
                margin-bottom: 26px;
                color: #202020;
                text-align: center;
                font-family: $primary-font;
                font-size: 36px;
                font-style: normal;
                font-weight: 500;
                line-height: 50.4px;
            }
            img {
                max-width: 100%;
                padding-bottom: 32px;
            }
        }
        
    }    
}
@media (min-width: 1025px) and (max-width: 1919px) {
    .hero {
        margin-bottom: 32px;
        &-container {
            padding-left: 30px;
            padding-right: 30px;
            img {
                max-width: 100%;
            }
        }
    }
    .link {
        width: 100%;
        margin: 0 auto 40px auto;
        &-container {
            p:first-child {
                margin-bottom: 36px;
                color: #202020;
                text-align: center;
                font-family: $primary-font;
                font-size: 36px;
                font-weight: 500;
                line-height: 50.4px;
                span {
                    color: #4BB7BB;
                    font-weight: 700;
                }
            }
            p:nth-child(2) {
                margin-bottom: 36px;
                color: #202020;
                text-align: center;
                font-family: $primary-font;
                font-size: 18px;
                font-weight: 500;
                line-height: 26px;
            }
        }
        &-confirm {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 0 16px;
            input {
                flex: 1;
                padding: 14px 12px 14px 12px;
                color: #84818A;
                font-feature-settings: 'liga' off, 'clig' off;
                font-family: $primary-font;
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
                border-radius: 4px;
                border: 1px solid  #DBE1E9;
                background:  #FFF;
            }
            .btn-confirm {
                padding: 12px 13.5px;
                color: #FFF;
                text-align: right;
                font-size: 16px;
                font-weight: 600;
                line-height: 24px;
                border-radius: 8px;
                background: #4BB7BB;
                cursor: pointer;
                border: none;
                outline: none;
            }
        }
    }
    .instruct {
        margin-bottom: 96px;
        position: relative;
        z-index: 2;
        background: linear-gradient(180deg, #C8F0F2 -181.74%, #FFF 100%);
        &-container {
            max-width: 100%;
            padding: 0 30px;
            margin: 0 auto;
        }
        &-top {
            padding-top: 30px;
            margin-bottom: 36px;
            text-align: center;
            p:first-child {
                margin: 0 0 16px 0;
                color: #202020;
                font-family: $primary-font;
                font-size: 36px;
                font-weight: 500;
                line-height: 50.4px;
            }
            p:nth-child(2){
                margin: 0;
                color: #FC0000;
                font-family: $primary-font;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 26px;
                span {
                    font-weight: 700;
                }
            }
        }
        &-forum {
            text-align: center;
            p {
                padding: 11px 16px;
                color: #202020;
                font-family: $primary-font;
                font-size: 16px;
                font-weight: 500;
                line-height: 26px;
                text-align: left;
                border-radius: 4px;
                background: linear-gradient(90deg, rgba(47, 180, 185, 0.5) -181.74%, rgba(255, 244, 219, 0.5) 100%);
                span {
                    color: #F97615;
                    text-align: center;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 26px;
                }
            }
            p:first-child {
                margin-bottom: 24px;
                padding-top: 9px;
                padding-bottom: 10px;
                padding-left: 21px;
                span:first-child {
                    color: #F97615;
                }
                span:nth-child(2){
                    color: #4BB7BB;
                }
                span:nth-child(3) {
                    color: #FC0000;
                }
            }
            p:nth-of-type(2){
                margin-bottom: 12px;
                span:last-child {
                    color: #202020;
                    font-weight: 700;
                }
            }
            p:nth-of-type(3) {
                margin-bottom: 16px;
                padding: 0;
                color: #FC0000;
                font-size: 14px;
                line-height: 22px;
                background: none;
                span {
                    color: #FC0000;
                    font-weight: 700;
                }
            }
            p:nth-of-type(4){
                margin-bottom: 48px;
                padding: 11px 42px 11px 16px;
                a {
                    margin-left: 42px;
                    display: inline-block;
                    padding: 12px 57.5px;
                    color: #4BB7BB;
                    text-align: right;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 24px;
                    border-radius: 8px;
                    border: 1.5px solid #4BB7BB;
                    background: #FFF;
                }
            }
            p:nth-of-type(5){
                padding-top: 9px;
                padding-bottom: 10px;
                padding-left: 16px;
                margin-bottom: 29px;
            }
            p:last-of-type {
                border: 1px solid #F97615;
                background: #FFF3EB;
            }
            img:nth-of-type(1) {
                margin-bottom: 40px;
            }
            img:nth-of-type(2) {
                margin-bottom: 34px;
            }
            .instruct-confirm.link-confirm {
                max-width: 622px;
                margin: 0 auto;
                margin-bottom: 70px;
                display: flex;
                justify-content: center;
                cursor: pointer;
            }
            .btn-change-keyword {
                display: inline-block;
                margin-top: 32px;
                padding: 12px 59.5px;
                color: #FFF;
                text-align: center;
                font-family: $primary-font;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 24px;
                border-radius: 8px;
                background: #F97615;
                cursor: pointer;
            }
        }
        &-bg-blur {
            img:first-child {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                z-index: 1;
            }
            img:nth-child(2) {
                position: absolute;
                right: 0;
                top: -20%;
                z-index: 1;
            }
        }
    }
    
    .video {
        padding-bottom: 96px;
        background: linear-gradient(0deg, #FFEBDB -22.23%, #FFF 99.55%);
        &-container {
            max-width: 100%;
            padding: 0 30px;
            margin: 0 auto;
            text-align: center;
        }
        &-box {
            border-radius: 10px;
            border: 1px solid #DBE1E9;
            background: #FFF;
            p {
                padding-top: 27px;
                margin-bottom: 26px;
                color: #202020;
                text-align: center;
                font-family: $primary-font;
                font-size: 36px;
                font-style: normal;
                font-weight: 500;
                line-height: 50.4px;
            }
            img {
                max-width: 100%;
                padding-bottom: 32px;
            }
        }
        
    }  
}