.hero {
    margin-bottom: 32px;
    &-container {
        padding-left: 120px;
        padding-right: 118px;
        img {
            max-width: 1682px;
        }
    }
}

.link {
    max-width: 622px;
    margin-left: 652px;
    margin-right: 646px;
    margin-bottom: 47px;
    &-container {
        p:first-child {
            margin-bottom: 36px;
            color: #202020;
            text-align: center;
            font-family: $primar-font;
            font-size: 36px;
            font-weight: 500;
            line-height: 50.4px;
            span {
                color: #4BB7BB;
                font-weight: 700;
            }
        }
        p:nth-child(2) {
            margin-bottom: 36px;
            color: #202020;
            text-align: center;
            font-family: $primar-font;
            font-size: 18px;
            font-weight: 500;
            line-height: 26px;
        }
    }
    &-confirm {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0 16px;
        input {
            flex: 1;
            padding: 14px 12px 14px 12px;
            color: #84818A;
            font-feature-settings: 'liga' off, 'clig' off;
            font-family: $primar-font;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            border-radius: 4px;
            border: 1px solid  #DBE1E9;
            background:  #FFF;
        }
        .btn-confirm {
            padding: 12px 13.5px;
            color: #FFF;
            text-align: right;
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            border-radius: 8px;
            background: #4BB7BB;
            cursor: pointer;
            border: none;
            outline: none;
        }
    }
}

.instruct {
    margin-bottom: 96px;
    position: relative;
    background: linear-gradient(180deg, #C8F0F2 -181.74%, #FFF 100%);
    &-container {
        max-width: 1170px;
        margin-left: 376px;
        margin-right: 374px;
    }
    &-top {
        padding-top: 30px;
        margin-bottom: 36px;
        text-align: center;
        p:first-child {
            margin: 0 0 16px 0;
            color: #202020;
            font-family: $primar-font;
            font-size: 36px;
            font-weight: 500;
            line-height: 50.4px;
        }
        p:nth-child(2){
            margin: 0;
            color: #FC0000;
            font-family: $primar-font;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 26px;
            span {
                font-weight: 700;
            }
        }
    }
    &-forum {
        text-align: center;
        img:first-child {
            margin-bottom: 40px;
        }
        img:nth-child(2){
            margin-bottom: 38px;
        }
        img:nth-child(3){
            margin-bottom: 44px;
        }
        img:nth-child(4){
            margin-bottom: 23px;
        }
        .instruct-confirm.link-confirm {
            max-width: 622px;
            margin: 0 auto;
            margin-bottom: 70px;
            display: flex;
            justify-content: center;
            cursor: pointer;
        }
        .btn-change-keyword {
            display: inline-block;
            margin-top: 32px;
            padding: 12px 59.5px;
            color: #FFF;
            text-align: center;
            font-family: $primar-font;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px;
            border-radius: 8px;
            background: #F97615;
            cursor: pointer;
        }
    }
    &-bg-blur {
        img:first-child {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
        img:nth-child(2) {
            position: absolute;
            right: 0;
            top: -111px;
        }
    }
}

.video {
    padding-bottom: 96px;
    background: linear-gradient(0deg, #FFEBDB -22.23%, #FFF 99.55%);
    &-container {
        max-width: 1170px;
        margin: 0 auto;
        text-align: center;
    }
    &-box {
        border-radius: 10px;
        border: 1px solid #DBE1E9;
        background: #FFF;
        p {
            padding-top: 27px;
            margin-bottom: 26px;
            color: #202020;
            text-align: center;
            font-family: $primar-font;
            font-size: 36px;
            font-style: normal;
            font-weight: 500;
            line-height: 50.4px;
        }
        img {
            max-width: 1072px;
            padding-bottom: 32px;
        }
    }
    
}