/* general */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
#shoot {
  max-width: 1920px;
  margin: 0 auto;
  background-color: #fff;
}

.btn {
  border-radius: 8px;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  transition: all 0.3s ease-in;
}
.btn:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@keyframes scale3dImg {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  5% {
    -webkit-transform: scale3d(0.91, 0.84, 0.85);
    transform: scale3d(0.91, 0.84, 0.85);
  }
  10% {
    -webkit-transform: scale3d(0.93, 0.86, 0.84);
    transform: scale3d(0.93, 0.86, 0.84);
  }
  26% {
    -webkit-transform: scale3d(0.94, 0.97, 0.98);
    transform: scale3d(0.94, 0.97, 0.98);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.99, 0.91);
    transform: scale3d(0.97, 0.99, 0.91);
  }
  100% {
    -webkit-transform: scale3d(0.99, 0.91, 0.99);
    transform: scale3d(0.99, 0.91, 0.99);
  }
}
.animated {
  opacity: 0;
  transition: all 0.8s ease-in-out;
  -webkit-transition: all 0.8s ease-in-out;
}

.fade-in-up {
  transform: translateY(20px);
}

.fade-in-up.run-animated {
  opacity: 1;
  transform: translateY(0);
}

.zoom-in {
  transform: scale(0.7);
}

.zoom-in.run-animated {
  opacity: 1;
  transform: scale(1);
}

.animated-flash {
  opacity: 0.5;
  transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
}

.animated-flash.run-animated {
  opacity: 1;
}

.animated-delay1 {
  transition: all 0.3s ease-in-out 0.3s;
  -webkit-transition: all 0.3s ease-in-out 0.3s;
}

.animated-delay2 {
  transition: all 0.4s ease-in-out 0.4s;
  -webkit-transition: all 0.4s ease-in-out 0.4s;
}

.animated-delay3 {
  transition: all 0.6s ease-in-out 0.6s;
  -webkit-transition: all 0.6s ease-in-out 0.6s;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  word-break: break-word;
  padding: 0;
  margin: 0;
}

.clear {
  clear: both;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

p {
  margin: 0;
}

a {
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
}
a:hover {
  text-decoration: none;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

img {
  max-width: 100%;
  border: none;
  height: auto;
}

main {
  display: block;
}

.height100 {
  height: 100%;
}

.image-fit {
  display: block;
  overflow: hidden;
}
.image-fit img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.list-inline {
  letter-spacing: -0.3em;
}
.list-inline .item-inline {
  letter-spacing: normal;
  vertical-align: top;
  display: inline-block;
}

.inline-middle .item-inline {
  vertical-align: middle;
}

.relative-section {
  position: relative;
}

.section-bg {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.font900 {
  font-weight: 900;
}

.font800 {
  font-weight: 800;
}

.font700 {
  font-weight: 700;
}

.font600 {
  font-weight: 600;
}

.font500 {
  font-weight: 500;
}

.font400 {
  font-weight: 400;
}

.font300 {
  font-weight: 300;
}

.animated-delay2 {
  -webkit-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.animated-delay3 {
  -webkit-animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.animated-delay4 {
  -webkit-animation-delay: 0.9s;
  -o-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

.animated-delay5 {
  -webkit-animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.animated-delay6 {
  -webkit-animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.list-flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-center {
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.flex-end {
  align-items: flex-end;
  -webkit-align-items: flex-end;
}

.flex-three .item-flex {
  width: 33.33%;
}

.flex-two .item-flex {
  width: 50%;
}

.flex-middle {
  align-items: center;
  -webkit-align-items: center;
}

:focus {
  outline: none !important;
}

.toogle-menu {
  border: 0 none;
  display: none;
  height: 23px;
  width: 28px;
  z-index: 999;
  cursor: pointer;
  outline: 0;
  float: right;
  background: none;
  position: absolute;
  top: 15px;
  right: 20px;
  padding: 0;
}
.toogle-menu span {
  font-size: 0;
  height: 3px;
  width: 100%;
  background: #000;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.toogle-menu span::after, .toogle-menu span::before {
  font-size: 0;
  height: 3px;
  width: 100%;
  background: #000;
  position: absolute;
  left: 0;
  content: "";
}
.toogle-menu span::after {
  transform: translateY(310%);
}
.toogle-menu span::before {
  transform: translateY(-310%);
}
.toogle-menu.exit span {
  background: transparent;
}
.toogle-menu.exit span::before {
  transform: translateY(0px) rotate(45deg);
}
.toogle-menu.exit span::after {
  transform: translateY(0px) rotate(-45deg);
}

.on-sp {
  display: none !important;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.header {
  margin-bottom: 48px;
}
.header-container {
  padding: 16px 113px 16px 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-left {
  display: flex;
  align-items: center;
  gap: 0 125px;
}
.header-right {
  display: flex;
  align-items: center;
  gap: 0 125px;
}
.header-right .header-buttons {
  display: flex;
  gap: 0 16px;
}
.header-right .header-buttons .btn-login {
  padding: 16px 41px;
  color: #4BB7BB;
  border: 1.5px solid #DBE1E9;
  background: #FFF;
}
.header-right .header-buttons .btn-login:hover {
  transform: translateY(-4px);
}
.header-right .header-buttons .btn-sign-up {
  padding: 16px 51.5px;
  color: #FFF;
  background: #4BB7BB;
}
.header-right .header-buttons .btn-sign-up:hover {
  transform: translateY(-4px);
}
.header-right .header-languages {
  display: flex;
  align-items: center;
  gap: 0 4px;
}
.header-right .header-languages span {
  color: #12141D;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}
.header .menu-open {
  display: none;
}

.menu {
  display: flex;
  align-items: center;
  gap: 0 45px;
}
.menu li a {
  color: #202020;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.5px;
  text-decoration: none;
}
.menu li a.active {
  color: #4BB7BB;
}
.menu-logo {
  display: none;
}
.menu-close {
  display: none;
}
.menu-languages {
  display: none;
}

@media (max-width: 768px) {
  .header {
    margin-bottom: 3.906vw;
  }
  .header-container {
    padding: 2.604vw;
    gap: 0 5.208vw;
  }
  .header-left {
    gap: 0 16.276vw;
  }
  .header-left .header-logo {
    max-width: 23vw;
  }
  .header-right {
    gap: 0 2.604vw;
  }
  .header-right .header-buttons {
    gap: 0 3.906vw;
  }
  .header-right .header-buttons .btn-login {
    padding: 1.538vw 4.103vw;
    font-size: 3.59vw;
  }
  .header-right .header-buttons .btn-sign-up {
    padding: 1.538vw 4.103vw;
    font-size: 3.59vw;
  }
  .header-right .header-languages {
    display: none;
    gap: 0 0.521vw;
  }
  .header-right .header-languages span {
    font-size: 2.083vw;
    line-height: 3.906vw;
  }
  .header .menu-open {
    display: block;
  }
  .header .menu-open img {
    width: 6.667vw;
  }
  .menu {
    position: relative;
    padding-top: 20vw;
    position: fixed;
    width: 70vw;
    background-color: #fff;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 1.302vw 0;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
  }
  .menu.show {
    transform: translateX(0);
    opacity: 1;
  }
  .menu li {
    width: 100%;
  }
  .menu li a {
    text-align: left;
    display: block;
    padding: 2.564vw;
    margin: 0 1.302vw;
    font-size: 4.103vw;
    border-bottom: 0.13vw solid #dbe1e9;
    transition: all 0.3s ease-in;
  }
  .menu li a.active {
    color: #4BB7BB;
  }
  .menu-logo {
    margin-bottom: 5.208vw;
    display: block;
  }
  .menu-close {
    display: block;
    position: absolute;
    max-height: 6.51vw;
    top: 2.604vw;
    right: 2.604vw;
    padding: 1.302vw;
    border-radius: 50%;
    background-color: #fafafa;
  }
  .menu-close:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  .menu-close img {
    width: 6.667vw;
  }
  .menu-languages {
    display: flex;
    align-items: center;
    gap: 0 1.026vw;
    position: absolute;
    left: 5.128vw;
    top: 5.128vw;
  }
  .menu-languages span {
    color: #12141D;
    font-family: "Inter", sans-serif;
    font-size: 4.103vw;
    font-weight: 400;
    line-height: 1.5;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .header {
    margin-bottom: 30px;
  }
  .header-container {
    padding: 30px;
  }
  .header-left {
    gap: 0 40px;
  }
  .header-right {
    gap: 0 40px;
  }
  .header-right .header-buttons {
    gap: 0 16px;
  }
  .header-right .header-buttons .btn-login {
    padding: 12px 36px;
  }
  .header-right .header-buttons .btn-sign-up {
    padding: 12px 36px;
  }
  .header .menu-open {
    display: block;
  }
  .header .menu-open img {
    max-width: 40px;
  }
  .menu {
    padding-top: 100px;
    position: fixed;
    width: 400px;
    background-color: #fff;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 10px 0;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
  }
  .menu.show {
    transform: translateX(0);
    opacity: 1;
  }
  .menu li {
    width: 100%;
  }
  .menu li a {
    display: block;
    padding: 10px 20px;
    color: #202020;
    font-family: "Inter", sans-serif;
    border-bottom: 0.13vw solid #dbe1e9;
    transition: all 0.3s ease-in;
  }
  .menu li a.active {
    color: #4BB7BB;
  }
  .menu-logo {
    display: block;
    margin-bottom: 40px;
  }
  .menu-close {
    display: block;
    position: absolute;
    max-height: 30px;
    top: 20px;
    right: 20px;
    border-radius: 50%;
  }
  .menu-close:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  .menu-close img {
    width: 40px;
  }
}
@media (min-width: 1024px) and (max-width: 1919px) {
  .header {
    margin-bottom: 30px;
  }
  .header-container {
    padding: 30px;
  }
  .header-left {
    gap: 0 40px;
  }
  .header-right {
    gap: 0 40px;
  }
  .header-right .header-buttons {
    gap: 0 16px;
  }
  .header-right .header-buttons .btn-login {
    padding: 12px 36px;
  }
  .header-right .header-buttons .btn-sign-up {
    padding: 12px 36px;
  }
  .header .menu-open {
    display: none;
  }
  .menu {
    display: flex;
    align-items: center;
    gap: 0 45px;
  }
  .menu li a {
    color: #202020;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.5px;
    text-decoration: none;
  }
  .menu li a.active {
    color: #4BB7BB;
  }
  .menu-logo {
    display: none;
  }
  .menu-close {
    display: none;
  }
}
.footer {
  background: #00373A;
}
.footer-container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 41px 0 32px 0;
}
.footer-main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.footer-main .footer-logo img {
  max-width: 132px;
}
.footer-main .footer-right-info {
  display: flex;
  align-items: center;
  gap: 0 64px;
  margin-bottom: 24px;
}
.footer-main .footer-right-info p {
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.08px;
}
.footer-main .footer-right-info p span {
  font-weight: 400;
}
.footer-main .footer-right-info p:first-child {
  position: relative;
}
.footer-main .footer-right-info p:first-child::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  opacity: 0.35;
  background-color: #fff;
  right: -32px;
}
.footer-main .footer-right-socials {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0 34.5px;
}
.footer-main .footer-right-socials a:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.footer-sub {
  padding-top: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-sub::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  top: 0;
  background-color: #DBE1E9;
  opacity: 0.24;
}
.footer-sub p.copy-right {
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.footer-sub-policy {
  display: flex;
  gap: 0 24px;
}
.footer-sub-policy a {
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
  transition: all 0.3s ease-in;
}
.footer-sub-policy a:hover {
  color: #4BB7BB;
}

@media (max-width: 768px) {
  .footer-container {
    max-width: 100vw;
    padding: 5.208vw 2.604vw;
  }
  .footer-main {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2.604vw;
  }
  .footer-main .footer-logo {
    margin-bottom: 20px;
  }
  .footer-main .footer-logo img {
    max-width: 33.846vw;
  }
  .footer-main .footer-right-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 20px;
    margin-bottom: 24px;
  }
  .footer-main .footer-right-info p {
    color: #FFF;
    font-family: "Inter", sans-serif;
    font-size: 3.333vw;
    font-style: normal;
    font-weight: 600;
    line-height: 3.646vw;
    letter-spacing: -0.08px;
  }
  .footer-main .footer-right-info p span {
    font-weight: 400;
  }
  .footer-main .footer-right-info p:first-child {
    position: relative;
  }
  .footer-main .footer-right-info p:first-child::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    opacity: 0.35;
    background-color: #fff;
    right: -10px;
  }
  .footer-main .footer-right-socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 34.5px;
  }
  .footer-main .footer-right-socials a:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  .footer-sub {
    padding-top: 20px;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
  }
  .footer-sub::before {
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    top: 0;
    background-color: #DBE1E9;
    opacity: 0.24;
  }
  .footer-sub p.copy-right {
    margin-bottom: 4.103vw;
    order: 2;
    color: #FFF;
    font-family: "Inter", sans-serif;
    font-size: 3.59vw;
    font-style: normal;
    font-weight: 400;
    line-height: 4.615vw;
  }
  .footer-sub-policy {
    order: 1;
    display: flex;
    gap: 0 24px;
  }
  .footer-sub-policy a {
    color: #FFF;
    font-family: "Inter", sans-serif;
    font-size: 3.59vw;
    font-style: normal;
    font-weight: 400;
    line-height: 4.615vw;
    text-decoration: none;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .footer-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 41px 30px 32px 30px;
  }
  .footer-main {
    margin-bottom: 25px;
  }
  .footer-main .footer-logo img {
    max-width: 132px;
  }
  .footer-main .footer-right-info {
    gap: 0 64px;
    margin-bottom: 24px;
  }
  .footer-main .footer-right-info p {
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
  }
  .footer-main .footer-right-info p span {
    font-weight: 400;
  }
  .footer-main .footer-right-info p:first-child::after {
    height: 100%;
    width: 1px;
    opacity: 0.35;
    right: -32px;
  }
  .footer-main .footer-right-socials {
    gap: 0 34.5px;
  }
  .footer-sub {
    padding-top: 20px;
  }
  .footer-sub p.copy-right {
    line-height: 18px;
  }
  .footer-sub-policy {
    gap: 0 24px;
  }
  .footer-sub-policy a {
    line-height: 18px;
  }
  .footer-sub-policy a:hover {
    color: #4BB7BB;
  }
}
@media (min-width: 1025px) and (max-width: 1919px) {
  .footer-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 41px 30px 32px 30px;
  }
  .footer-main {
    margin-bottom: 25px;
  }
  .footer-main .footer-logo img {
    max-width: 132px;
  }
  .footer-main .footer-right-info {
    gap: 0 64px;
    margin-bottom: 24px;
  }
  .footer-main .footer-right-info p {
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
  }
  .footer-main .footer-right-info p span {
    font-weight: 400;
  }
  .footer-main .footer-right-info p:first-child::after {
    height: 100%;
    width: 1px;
    opacity: 0.35;
    right: -32px;
  }
  .footer-main .footer-right-socials {
    gap: 0 34.5px;
  }
  .footer-sub {
    padding-top: 20px;
  }
  .footer-sub p.copy-right {
    line-height: 18px;
  }
  .footer-sub-policy {
    gap: 0 24px;
  }
  .footer-sub-policy a {
    line-height: 18px;
  }
  .footer-sub-policy a:hover {
    color: #4BB7BB;
  }
}
/* pages */
.hero {
  margin-bottom: 32px;
}
.hero-container {
  padding-left: 120px;
  padding-right: 118px;
}
.hero-container img {
  max-width: 1682px;
}

.link {
  max-width: 622px;
  margin-left: 652px;
  margin-right: 646px;
  margin-bottom: 47px;
}
.link-container p:first-child {
  margin-bottom: 36px;
  color: #202020;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 50.4px;
}
.link-container p:first-child span {
  color: #4BB7BB;
  font-weight: 700;
}
.link-container p:nth-child(2) {
  margin-bottom: 36px;
  color: #202020;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}
.link-confirm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 16px;
}
.link-confirm input {
  flex: 1;
  padding: 14px 12px 14px 12px;
  color: #84818A;
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  border-radius: 4px;
  border: 1px solid #DBE1E9;
  background: #FFF;
}
.link-confirm .btn-confirm {
  padding: 12px 13.5px;
  color: #FFF;
  text-align: right;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  border-radius: 8px;
  background: #4BB7BB;
  cursor: pointer;
  border: none;
  outline: none;
}

.instruct {
  margin-bottom: 96px;
  position: relative;
  z-index: 2;
  background: linear-gradient(180deg, #C8F0F2 -181.74%, #FFF 100%);
}
.instruct-container {
  max-width: 1170px;
  margin-left: 376px;
  margin-right: 374px;
}
.instruct-top {
  padding-top: 30px;
  margin-bottom: 36px;
  text-align: center;
}
.instruct-top p:first-child {
  margin: 0 0 16px 0;
  color: #202020;
  font-family: "Inter", sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 50.4px;
}
.instruct-top p:nth-child(2) {
  margin: 0;
  color: #FC0000;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}
.instruct-top p:nth-child(2) span {
  font-weight: 700;
}
.instruct-forum {
  text-align: center;
}
.instruct-forum p {
  padding: 11px 16px;
  color: #202020;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
  border-radius: 4px;
  background: linear-gradient(90deg, rgba(47, 180, 185, 0.5) -181.74%, rgba(255, 244, 219, 0.5) 100%);
}
.instruct-forum p span {
  color: #F97615;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
}
.instruct-forum p:first-child {
  margin-bottom: 24px;
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 21px;
}
.instruct-forum p:first-child span:first-child {
  color: #F97615;
}
.instruct-forum p:first-child span:nth-child(2) {
  color: #4BB7BB;
}
.instruct-forum p:first-child span:nth-child(3) {
  color: #FC0000;
}
.instruct-forum p:nth-of-type(2) {
  margin-bottom: 12px;
}
.instruct-forum p:nth-of-type(2) span:last-child {
  color: #202020;
  font-weight: 700;
}
.instruct-forum p:nth-of-type(3) {
  margin-bottom: 16px;
  padding: 0;
  color: #FC0000;
  font-size: 14px;
  line-height: 22px;
  background: none;
}
.instruct-forum p:nth-of-type(3) span {
  color: #FC0000;
  font-weight: 700;
}
.instruct-forum p:nth-of-type(4) {
  margin-bottom: 48px;
  padding: 11px 42px 11px 16px;
}
.instruct-forum p:nth-of-type(4) a {
  margin-left: 42px;
  display: inline-block;
  padding: 12px 57.5px;
  color: #4BB7BB;
  text-align: right;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  border-radius: 8px;
  border: 1.5px solid #4BB7BB;
  background: #FFF;
}
.instruct-forum p:nth-of-type(5) {
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 16px;
  margin-bottom: 29px;
}
.instruct-forum p:last-of-type {
  border: 1px solid #F97615;
  background: #FFF3EB;
}
.instruct-forum img:nth-of-type(1) {
  margin-bottom: 40px;
}
.instruct-forum img:nth-of-type(2) {
  margin-bottom: 34px;
}
.instruct-forum .instruct-confirm.link-confirm {
  max-width: 622px;
  margin: 0 auto;
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.instruct-forum .btn-change-keyword {
  display: inline-block;
  margin-top: 32px;
  padding: 12px 59.5px;
  color: #FFF;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  border-radius: 8px;
  background: #F97615;
  cursor: pointer;
}
.instruct-forum .btn-change-keyword.trans-animated {
  animation-name: scale3dImg;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}
.instruct-bg-blur img:first-child {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.instruct-bg-blur img:nth-child(2) {
  position: absolute;
  right: 0;
  top: -20%;
  z-index: 1;
}

.video {
  padding-bottom: 96px;
  background: linear-gradient(0deg, #FFEBDB -22.23%, #FFF 99.55%);
}
.video-container {
  max-width: 1170px;
  margin: 0 auto;
  text-align: center;
}
.video-box {
  border-radius: 10px;
  border: 1px solid #DBE1E9;
  background: #FFF;
}
.video-box p {
  padding-top: 27px;
  margin-bottom: 26px;
  color: #202020;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 50.4px;
}
.video-box img {
  max-width: 1072px;
  padding-bottom: 32px;
}

@media (max-width: 768px) {
  .hero {
    margin-bottom: 2.604vw;
  }
  .hero-container {
    padding: 0 2.604vw;
  }
  .hero-container img {
    max-width: 100%;
  }
  .link {
    max-width: 100%;
    margin: 0 auto 7.692vw auto;
  }
  .link-container {
    padding: 0 2.604vw;
  }
  .link-container p:first-child {
    margin-bottom: 5.128vw;
    font-size: 5.128vw;
    line-height: 1.5;
  }
  .link-container p:first-child span {
    color: #4BB7BB;
  }
  .link-container p:nth-child(2) {
    margin-bottom: 4.103vw;
    font-size: 4.103vw;
    line-height: 1.5;
  }
  .link-confirm {
    gap: 4.103vw 0;
    flex-direction: column;
  }
  .link-confirm input {
    width: 100%;
    padding: 2.564vw;
    font-size: 4.103vw;
    line-height: 1.5;
    border-radius: 0.521vw;
    border: 0.13vw solid #DBE1E9;
  }
  .link-confirm .btn-confirm {
    padding: 3.846vw 7.692vw;
    font-size: 3.333vw;
    line-height: 3.125vw;
    border-radius: 1.042vw;
  }
  .link-confirm .btn-confirm.trans-animated {
    animation-name: scale3dImg;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
  }
  .instruct {
    margin-bottom: 2.604vw;
  }
  .instruct-container {
    max-width: 100%;
    padding: 0 2.604vw;
    margin: 0 auto;
  }
  .instruct-top {
    padding-top: 2.604vw;
    margin-bottom: 5.128vw;
  }
  .instruct-top p:first-child {
    margin: 0 0 2.083vw 0;
    font-size: 4.615vw;
    line-height: 1.5;
  }
  .instruct-top p:nth-child(2) {
    font-size: 3.59vw;
    line-height: 1.5;
  }
  .instruct-forum {
    text-align: center;
  }
  .instruct-forum p {
    font-size: 3.59vw;
    line-height: 1.5;
  }
  .instruct-forum p span {
    font-size: 3.59vw;
  }
  .instruct-forum p:first-child {
    padding: 2.564vw;
    margin-bottom: 5.128vw;
  }
  .instruct-forum p:first-child span:first-child {
    color: #F97615;
  }
  .instruct-forum p:first-child span:nth-child(2) {
    color: #4BB7BB;
  }
  .instruct-forum p:first-child span:nth-child(3) {
    color: #FC0000;
  }
  .instruct-forum p:nth-of-type(2) {
    margin-bottom: 3.077vw;
    padding: 2.564vw;
  }
  .instruct-forum p:nth-of-type(2) span:last-child {
    color: #202020;
    font-weight: 700;
  }
  .instruct-forum p:nth-of-type(3) {
    margin-bottom: 16px;
    padding: 0;
    color: #FC0000;
    font-size: 14px;
    line-height: 22px;
    background: none;
  }
  .instruct-forum p:nth-of-type(3) span {
    color: #FC0000;
    font-weight: 700;
  }
  .instruct-forum p:nth-of-type(4) {
    margin-bottom: 5.128vw;
    line-height: 1.5;
  }
  .instruct-forum p:nth-of-type(4) a {
    margin-left: 16px;
    padding: 1.538vw 7.692vw;
    font-size: 3.077vw;
  }
  .instruct-forum p:nth-of-type(5) {
    margin-bottom: 29px;
  }
  .instruct-forum p:last-of-type {
    border: 1px solid #F97615;
    background: #FFF3EB;
  }
  .instruct-forum img:nth-of-type(1) {
    margin-bottom: 5.128vw;
  }
  .instruct-forum img:nth-of-type(2) {
    margin-bottom: 34px;
  }
  .instruct-forum .instruct-confirm.link-confirm {
    width: 100%;
    margin-bottom: 5.128vw;
  }
  .instruct-forum .btn-change-keyword {
    display: inline-block;
    margin-top: 5.128vw;
    width: 100%;
    font-size: 3.333vw;
    line-height: 1.5;
  }
  .instruct-bg-blur img:first-child {
    max-width: 20.833vw;
  }
  .instruct-bg-blur img:nth-child(2) {
    max-width: 20.833vw;
  }
  .video {
    padding-bottom: 2.604vw;
  }
  .video-container {
    max-width: 100%;
    padding: 0 2.604vw;
    margin: 0 auto;
  }
  .video-box {
    border-radius: 1.302vw;
  }
  .video-box p {
    padding-top: 2.604vw;
    margin-bottom: 2.604vw;
    font-size: 4.103vw;
    line-height: 6.563vw;
  }
  .video-box img {
    max-width: 100%;
    padding-bottom: 2.604vw;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .hero {
    margin-bottom: 32px;
  }
  .hero-container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .hero-container img {
    max-width: 100%;
  }
  .link {
    width: 100%;
    margin: 0 auto 40px auto;
  }
  .link-container p:first-child {
    margin-bottom: 36px;
    color: #202020;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 50.4px;
  }
  .link-container p:first-child span {
    color: #4BB7BB;
    font-weight: 700;
  }
  .link-container p:nth-child(2) {
    margin-bottom: 36px;
    color: #202020;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
  }
  .link-confirm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 16px;
  }
  .link-confirm input {
    flex: 1;
    padding: 14px 12px 14px 12px;
    color: #84818A;
    font-feature-settings: "liga" off, "clig" off;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    border-radius: 4px;
    border: 1px solid #DBE1E9;
    background: #FFF;
  }
  .link-confirm .btn-confirm {
    padding: 12px 13.5px;
    color: #FFF;
    text-align: right;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    border-radius: 8px;
    background: #4BB7BB;
    cursor: pointer;
    border: none;
    outline: none;
  }
  .link-confirm .btn-confirm.trans-animated {
    animation-name: scale3dImg;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
  }
  .instruct {
    margin-bottom: 96px;
    position: relative;
    z-index: 2;
    background: linear-gradient(180deg, #C8F0F2 -181.74%, #FFF 100%);
  }
  .instruct-container {
    max-width: 100%;
    padding: 0 30px;
    margin: 0 auto;
  }
  .instruct-top {
    padding-top: 30px;
    margin-bottom: 36px;
    text-align: center;
  }
  .instruct-top p:first-child {
    margin: 0 0 16px 0;
    color: #202020;
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 50.4px;
  }
  .instruct-top p:nth-child(2) {
    margin: 0;
    color: #FC0000;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
  }
  .instruct-top p:nth-child(2) span {
    font-weight: 700;
  }
  .instruct-forum {
    text-align: center;
  }
  .instruct-forum p {
    padding: 11px 16px;
    color: #202020;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
    border-radius: 4px;
    background: linear-gradient(90deg, rgba(47, 180, 185, 0.5) -181.74%, rgba(255, 244, 219, 0.5) 100%);
  }
  .instruct-forum p span {
    color: #F97615;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
  }
  .instruct-forum p:first-child {
    margin-bottom: 24px;
    padding-top: 9px;
    padding-bottom: 10px;
    padding-left: 21px;
  }
  .instruct-forum p:first-child span:first-child {
    color: #F97615;
  }
  .instruct-forum p:first-child span:nth-child(2) {
    color: #4BB7BB;
  }
  .instruct-forum p:first-child span:nth-child(3) {
    color: #FC0000;
  }
  .instruct-forum p:nth-of-type(2) {
    margin-bottom: 12px;
  }
  .instruct-forum p:nth-of-type(2) span:last-child {
    color: #202020;
    font-weight: 700;
  }
  .instruct-forum p:nth-of-type(3) {
    margin-bottom: 16px;
    padding: 0;
    color: #FC0000;
    font-size: 14px;
    line-height: 22px;
    background: none;
  }
  .instruct-forum p:nth-of-type(3) span {
    color: #FC0000;
    font-weight: 700;
  }
  .instruct-forum p:nth-of-type(4) {
    margin-bottom: 48px;
    padding: 11px 42px 11px 16px;
  }
  .instruct-forum p:nth-of-type(4) a {
    margin-left: 42px;
    display: inline-block;
    padding: 12px 57.5px;
    color: #4BB7BB;
    text-align: right;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    border-radius: 8px;
    border: 1.5px solid #4BB7BB;
    background: #FFF;
  }
  .instruct-forum p:nth-of-type(5) {
    padding-top: 9px;
    padding-bottom: 10px;
    padding-left: 16px;
    margin-bottom: 29px;
  }
  .instruct-forum p:last-of-type {
    border: 1px solid #F97615;
    background: #FFF3EB;
  }
  .instruct-forum img:nth-of-type(1) {
    margin-bottom: 40px;
  }
  .instruct-forum img:nth-of-type(2) {
    margin-bottom: 34px;
  }
  .instruct-forum .instruct-confirm.link-confirm {
    max-width: 622px;
    margin: 0 auto;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  .instruct-forum .btn-change-keyword {
    display: inline-block;
    margin-top: 32px;
    padding: 12px 59.5px;
    color: #FFF;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    border-radius: 8px;
    background: #F97615;
    cursor: pointer;
  }
  .instruct-bg-blur img:first-child {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
  .instruct-bg-blur img:nth-child(2) {
    position: absolute;
    right: 0;
    top: -20%;
    z-index: 1;
  }
  .video {
    padding-bottom: 96px;
    background: linear-gradient(0deg, #FFEBDB -22.23%, #FFF 99.55%);
  }
  .video-container {
    max-width: 100%;
    padding: 0 30px;
    margin: 0 auto;
    text-align: center;
  }
  .video-box {
    border-radius: 10px;
    border: 1px solid #DBE1E9;
    background: #FFF;
  }
  .video-box p {
    padding-top: 27px;
    margin-bottom: 26px;
    color: #202020;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 50.4px;
  }
  .video-box img {
    max-width: 100%;
    padding-bottom: 32px;
  }
}
@media (min-width: 1025px) and (max-width: 1919px) {
  .hero {
    margin-bottom: 32px;
  }
  .hero-container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .hero-container img {
    max-width: 100%;
  }
  .link {
    width: 100%;
    margin: 0 auto 40px auto;
  }
  .link-container p:first-child {
    margin-bottom: 36px;
    color: #202020;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 50.4px;
  }
  .link-container p:first-child span {
    color: #4BB7BB;
    font-weight: 700;
  }
  .link-container p:nth-child(2) {
    margin-bottom: 36px;
    color: #202020;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
  }
  .link-confirm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 16px;
  }
  .link-confirm input {
    flex: 1;
    padding: 14px 12px 14px 12px;
    color: #84818A;
    font-feature-settings: "liga" off, "clig" off;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    border-radius: 4px;
    border: 1px solid #DBE1E9;
    background: #FFF;
  }
  .link-confirm .btn-confirm {
    padding: 12px 13.5px;
    color: #FFF;
    text-align: right;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    border-radius: 8px;
    background: #4BB7BB;
    cursor: pointer;
    border: none;
    outline: none;
  }
  .instruct {
    margin-bottom: 96px;
    position: relative;
    z-index: 2;
    background: linear-gradient(180deg, #C8F0F2 -181.74%, #FFF 100%);
  }
  .instruct-container {
    max-width: 100%;
    padding: 0 30px;
    margin: 0 auto;
  }
  .instruct-top {
    padding-top: 30px;
    margin-bottom: 36px;
    text-align: center;
  }
  .instruct-top p:first-child {
    margin: 0 0 16px 0;
    color: #202020;
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 50.4px;
  }
  .instruct-top p:nth-child(2) {
    margin: 0;
    color: #FC0000;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
  }
  .instruct-top p:nth-child(2) span {
    font-weight: 700;
  }
  .instruct-forum {
    text-align: center;
  }
  .instruct-forum p {
    padding: 11px 16px;
    color: #202020;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
    border-radius: 4px;
    background: linear-gradient(90deg, rgba(47, 180, 185, 0.5) -181.74%, rgba(255, 244, 219, 0.5) 100%);
  }
  .instruct-forum p span {
    color: #F97615;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
  }
  .instruct-forum p:first-child {
    margin-bottom: 24px;
    padding-top: 9px;
    padding-bottom: 10px;
    padding-left: 21px;
  }
  .instruct-forum p:first-child span:first-child {
    color: #F97615;
  }
  .instruct-forum p:first-child span:nth-child(2) {
    color: #4BB7BB;
  }
  .instruct-forum p:first-child span:nth-child(3) {
    color: #FC0000;
  }
  .instruct-forum p:nth-of-type(2) {
    margin-bottom: 12px;
  }
  .instruct-forum p:nth-of-type(2) span:last-child {
    color: #202020;
    font-weight: 700;
  }
  .instruct-forum p:nth-of-type(3) {
    margin-bottom: 16px;
    padding: 0;
    color: #FC0000;
    font-size: 14px;
    line-height: 22px;
    background: none;
  }
  .instruct-forum p:nth-of-type(3) span {
    color: #FC0000;
    font-weight: 700;
  }
  .instruct-forum p:nth-of-type(4) {
    margin-bottom: 48px;
    padding: 11px 42px 11px 16px;
  }
  .instruct-forum p:nth-of-type(4) a {
    margin-left: 42px;
    display: inline-block;
    padding: 12px 57.5px;
    color: #4BB7BB;
    text-align: right;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    border-radius: 8px;
    border: 1.5px solid #4BB7BB;
    background: #FFF;
  }
  .instruct-forum p:nth-of-type(5) {
    padding-top: 9px;
    padding-bottom: 10px;
    padding-left: 16px;
    margin-bottom: 29px;
  }
  .instruct-forum p:last-of-type {
    border: 1px solid #F97615;
    background: #FFF3EB;
  }
  .instruct-forum img:nth-of-type(1) {
    margin-bottom: 40px;
  }
  .instruct-forum img:nth-of-type(2) {
    margin-bottom: 34px;
  }
  .instruct-forum .instruct-confirm.link-confirm {
    max-width: 622px;
    margin: 0 auto;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  .instruct-forum .btn-change-keyword {
    display: inline-block;
    margin-top: 32px;
    padding: 12px 59.5px;
    color: #FFF;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    border-radius: 8px;
    background: #F97615;
    cursor: pointer;
  }
  .instruct-bg-blur img:first-child {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
  .instruct-bg-blur img:nth-child(2) {
    position: absolute;
    right: 0;
    top: -20%;
    z-index: 1;
  }
  .video {
    padding-bottom: 96px;
    background: linear-gradient(0deg, #FFEBDB -22.23%, #FFF 99.55%);
  }
  .video-container {
    max-width: 100%;
    padding: 0 30px;
    margin: 0 auto;
    text-align: center;
  }
  .video-box {
    border-radius: 10px;
    border: 1px solid #DBE1E9;
    background: #FFF;
  }
  .video-box p {
    padding-top: 27px;
    margin-bottom: 26px;
    color: #202020;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 50.4px;
  }
  .video-box img {
    max-width: 100%;
    padding-bottom: 32px;
  }
}

/*# sourceMappingURL=main.css.map */
